<h1>LISTADO DE LIBROS</h1>
<hr>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>TITULO</th>
            <th>GENERO</th>
            <th>AÑO</th>
            <th>ACCIONES</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor= "let book of books$ | async">
            <td>{{book.id}}</td>
            <td>{{book.title}}</td>
            <td>{{book.genre}}</td>
            <td>{{book.year}}</td>
        </tr>
    </tbody>
</table>
<button [routerLink]="'/book'"><i class="bi bi-archive-fill"></i> Ir a libro</button>